.each_slide_effect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 350px;
    background-color: red;
  }
  
  .each_slide_effect span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }