.feature-card3-feature-card {
  width: 100%;
  display: flex;
  padding: 32px;
  align-items: center;
  flex-direction: column;
}
.feature-card3-icon {
  fill: var(--dl-color-gray-500);
  width: 48px;
  height: 48px;
  display: none;
}
.feature-card3-text {
  font-style: normal;
  text-align: center;
  font-weight: 500;
}
.feature-card3-text1 {
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.feature-card3-text2 {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.feature-card3-text3 {
  color: var(--dl-color-gray-700);
  align-self: center;
  text-align: left;
}
.feature-card3-text4 {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.feature-card3-text5 {
  display: none;
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-unit);
  font-weight: 500;
}
@media(max-width: 991px) {
  .feature-card3-text {
    margin-top: var(--dl-space-space-unit);
    padding-top: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
