.feature-card311-feature-card {
  width: 100%;
  display: flex;
  padding: 32px;
  align-items: center;
  flex-direction: column;
}
.feature-card311-icon {
  fill: var(--dl-color-gray-500);
  width: 48px;
  height: 48px;
  display: none;
}
.feature-card311-text {
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 500;
}
.feature-card311-text1 {
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.feature-card311-text2 {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.feature-card311-text3 {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.feature-card311-text4 {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.feature-card311-text5 {
  display: none;
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-unit);
  font-weight: 500;
}
.feature-card311-root-class-name {
  margin-left: var(--dl-space-space-tripleunit);
}
@media(max-width: 991px) {
  .feature-card311-root-class-name {
    margin-left: 0px;
  }
}
@media(max-width: 767px) {
  .feature-card311-root-class-name {
    margin-left: 0px;
  }
}
@media(max-width: 479px) {
  .feature-card311-root-class-name {
    margin-left: 0px;
  }
}
